# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# VSCode settings
.vscode/

# Logs
logs/

# Environment variables
.env

# Uploads
image_upload/

# OS files
.DS_Store
Thumbs.db
